<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear Área Científica</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h1>Crear Área Científica</h1>
<form th:action="@{/area/guardar}" method="post" th:object="${area}">
    <div>
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required />
    </div>
    <div>
        <button type="submit">Guardar</button>
        <a th:href="@{/area/listar_area}">Cancelar</a>
    </div>
</form>
</body>
</html>
